/* global style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */
header {
  position: absolute;
  width: 100%;
  top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
header a {
  text-transform: uppercase;
  text-decoration: none;
}
.logo {
  display: none;
}
.btn-input {
  color: #fff;
  background: transparent;
  border: none;
  font-family: "Montserrat", serif;
  font-weight: 700;
  font-size: 14px;
  padding: 10px 15px;
}
.Sign_up {
  border: 2px solid #fff;
  border-radius: 25px;
}
/* .promo */
.promo {
  height: 100vh;
  background: url("/img/photo_2021-06-04_19-09-22.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.promo-inner {
  z-index: 2;
  position: relative;
  color: #fff;
  text-align: center;
}
.promo::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 2;
}
