/* global style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */
header {
  position: absolute;
  width: 100%;
  top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
header a {
  text-transform: uppercase;
  text-decoration: none;
}
.logo {
  display: none;
}
/* .promo */
.promo {
  height: 100vh;
  background: url("/img/photo_2021-06-04_19-09-22.jpg") center/cover no-repeat;
}
.promo::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
