/* global style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", serif;
  font-size: 14px;
  color: #666;
}
h1,
h2,
h3,
.btn-input,
.btn-section,
.logo {
  font-family: "Montserrat", serif;
  font-weight: 700;
}

/* header */
header {
  position: absolute;
  width: 100%;
  top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.btn-input:hover {
  background: #ff4e50;
  transition: 0.5s;
}
.log_in:hover {
  color: #ff4e50;
  transition: 0.5s;
  background: transparent;
}
.btn-input {
  transition: 0.5s;
}
header a {
  text-transform: uppercase;
  text-decoration: none;
}
header .logo {
  display: none;
}
@media (min-width: 768px) {
  header .logo {
    display: block;
    color: #fff;
    text-transform: uppercase;
  }
  header {
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
  }
  .logo {
    display: none;
  }
  .btn-section {
    margin: 0 auto;
  }
}
.btn-input {
  color: #fff;
  background: transparent;
  border: none;
  font-size: 14px;
  padding: 10px 15px;
}
.Sign_up {
  border: 2px solid #fff;
  border-radius: 25px;
}
.subtitle {
  font-family: "Roboto", serif;
  font-weight: 300;
}
/* .promo */
.promo {
  height: 100vh;
  padding: 0 15px;
  background: url("/img/photo_2021-06-04_19-09-22.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.promo::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 2;
}
.promo-inner {
  z-index: 2;
  position: relative;
  color: #fff;
  text-align: center;
}
@media (min-width: 768px) {
  .promo-inner .logo {
    display: none;
  }
  .promo-inner h1 {
    font-size: 52px;
  }
}
.logo {
  font-size: 20px;
}
h1 {
  font-size: 30px;
  margin: 40px 0 20px;
}
.btn-section {
  font-size: 14px;
  width: 280px;
  display: inline-block;
  background: #ff4e50;
  color: #fff;
  text-decoration: none;
  padding-top: 13px;
  padding-bottom: 13px;
  border-radius: 20px;
  margin-top: 20px;
  text-align: center;
  justify-content: center;
}
/* Partners */
.partner {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 15px;
  padding-right: 15px;
}
.partnerslist {
  list-style: none;
  text-align: center;
}
@media (min-width: 768px) {
  .partnerslist {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    margin: 0 auto;
  }
  .partnerslist li {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .partnerslist li {
    width: 25%;
  }
}
.partnerslist li {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 60%;
  margin: 0 auto;
}

.partnerslist img {
  border-radius: 50%;
  display: inline-block;
  width: 120px;
}
.paprtner-photo {
  position: relative;
  display: inline-block;
}
.paprtner-photo::before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  border: 4px solid #fff;
  border-radius: 50%;
  position: absolute;
  bottom: -10px;
  right: -10px;
}
.red::before {
  background: url("../img/television.svg") center / 16px no-repeat;
  background-color: #ff4e50;
}
.orange::before {
  background: url("../img/flask.svg") center / 16px no-repeat;
  background-color: #ffa507;
}
.green::before {
  background: url("../img/hot-coffee-rounded-cup-on-a-plate-from-side-view.svg")
    center / 16px no-repeat;
  background-color: #1cd7ad;
}
.blue::before {
  background: url("../img/flask.svg") center / 16px no-repeat;
  background-color: #4e73db;
}
.partner .See_other_partners {
  text-align: center;
}
.partner .btn-section {
  border: 2px solid #ff4e50;
  background: transparent;
  color: #ff4e50;
}
.partnerslist h3 {
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
}
